.filters-container{
    display: grid;
    width: 252px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray ;
    padding-left: 0.5vw;
}
.gender-label{

}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
.color-div{
    display: flex;
    align-items: center;
    
}
input.large-check{
    transform : scale(1.3);
    
}

h4{
    font-weight: 500;
}
 span, label{
    margin-left: 10px;
}
.division{
    border-bottom: 1px solid gray;
    margin-bottom: 1em;
    padding-bottom: 00.65em;
}